{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %} 

<div class="home-container">
    <h1 class="h1-home"> Bienvenue sur <span>SAVED</span></h1>
    {% if latest == [] %}
        <h1 class="h1false"> vous n'avez pas encore fait de saisie </h1>
        <div class="homeCard-container">
                <div class="homeCard" data-aos="fade-right">
                    <img src="{{asset('assets/DONS-01.svg') }}" class='svg-home'>
                    <h2>0€</h2>
                    <h3>Dons</h3>
                </div>
                <div class="homeCard" data-aos="fade-right">
                    <img src="{{asset('assets/REMBOURSEMENT-02.svg') }}" class='svg-home'>
                    <h2>0€</h2>
                    <h3>Remboursement</h3>
                </div>
                <div class="homeCard" data-aos="fade-right">
                    <i class="fa-solid fa-clock svg-homecard"></i>
                    <h2>00h00</h2>
                    <h3>Heure de bénévolat</h3>
                </div>
                <div class="homeCard" data-aos="fade-right">
                    <img src="{{asset('assets/VALORISATION-01.svg') }}" class='svg-home bene'>
                    <h2>0€</h2>
                    <h3>Bénévolat</h3>
                </div>
    {% else %}

    <h3>Total de vos saisies :</h3>
        <div class="homeCard-container">
            {% for recent in latest   %}
                <div class="homeCard" data-aos="fade-right">
                    <img src="{{asset('assets/DONS-01.svg') }}" class='svg-home'>
                    <h2 class="dons-card"></h2>
                    <h3>Dons</h3>
                </div>
                <div class="homeCard" data-aos="fade-right">
                    <img src="{{asset('assets/REMBOURSEMENT-02.svg') }}" class='svg-home'>
                    <h2 class="remboursement-card"></h2>
                    <h3>Remboursement</h3>
                </div>
                <div class="homeCard" data-aos="fade-right">
                    <i class="fa-solid fa-clock svg-homecard"></i>
                    <h2 class="heure-card"></h2>
                    <h3>Heure de bénévolat</h3>
                </div>
                <div class="homeCard" data-aos="fade-right">
                    <img src="{{asset('assets/VALORISATION-01.svg') }}" class='svg-home bene'>
                    <h2 class="benevolat-card"></h2>
                    <h3>Bénévolat</h3>
                </div>
            {% endfor %}
        </div>
    {% endif %} 
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('home') }}
{% endblock %}
