{% for action in actions %}
    <tr class='tr-{{action.id}}'>
        <td data-label="Association" class="td">{{ action.association.name }}</td> 
        <td data-label="Date">{{ action.date|date('d/m/Y') }}</td>
        <td data-label="Ville de départ">{{ action.villeDepart }}</td>
        <td data-label="Ville d'arrivée">{{ action.villeArrive }}</td>
        <td data-label="Km">{{ action.km }}km</td>
        <td data-label="Raison">{{ action.raisons }}</td>
        <td data-label="Heure de départ">{{ action.heureDepart|date('H:i') }}</td>
        <td data-label="Heure d'arrivée">{{ action.heureArrivee|date('H:i') }}</td>
        <td data-label="Durée" class="duree" data-duree="{{ action.duree }}">{{ action.duree }}</td>
        <td data-label="Frais">{{ action.frais }}€</td>
        <td data-label="Don" class="donTd" data-don="{{ action.dons|number_format(2) }}">{{ action.dons|number_format(2) }}€</td>
        <td data-label="A payer" class="payerTd" data-payer="{{ action.Apayer }}">{{ action.Apayer|number_format(2) }}€</td>
        <td data-label="Heures valorisées" class="lastchild valoriseesTd" data-valorisees="{{ action.heuresValorisees|number_format(2) }}">{{ action.heuresValorisees|number_format(2)}}</td>
        <td class="last-td-poubelle modal-open-delete"><a data-poubelle='{{action.id}}' class="hrefPoubelle data-id"><i class="fa-solid fa-trash poubelle"></i></a></td>
        <td class="last-td-poubelle"><a href="{{ path("recapitulatif_pdf", {'id': action.id, 'userId': user.id } ) }}" class="hrefPoubelle"><i class="fa-solid fa-file-pdf"></i></a></td>
        <a href="{{path('recapitulatif_more', { 'id' : action.id } )}}">click moi</a>
    </tr>
{% endfor %}