{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
    <link href="{{ asset('css/choose.css') }}" rel="stylesheet">
    <h2 class="text-center admin-main">Administration</h2>
    <div class="container">
        {% for association in admin %}
            {# {{ dump(association)}} #}

            <div class="assoc-container">
                <h2>{{ association.name }}</h2>
                {% if association.logo != null %}
                    <img src="{{asset('/build/logo_directory/' ~ association.logo) }}" alt="{{association.name}}" class="assoc-img"/>
                {% else %}
                    <img src="{{ asset('/assets/default.PNG') }}" class="assoc-img-first default-image"></img>
                {% endif %}
                <div class="btn-container">
                    <a href="{{ path('admin', {'idAssoc': association.id }) }}">
                        <button class="btn-admin">Administer</button>
                    </a>

                    <form action="{{ path('change_logo',  {'idAssoc': association.id }) }}" method="post" enctype="multipart/form-data" class="form-sbmt">
                        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
                        <label for="my_file-{{loop.index}}" class="input-file">Uploader</label>
                        <input type="file" id="my_file-{{loop.index}}" name="logo" class="input-sbmt" data-id="{{loop.index}}"></input>
                        <button type="submit" class="btn-send">Changer</button>
                        {# {{ dump(app.flashes('error')) }} #}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('choose') }}
    {% endblock %}

