{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">


<h3 class="assoc-pres">administration de l'association :</h3>
<div class="assoc-container">
    <h3 class="assoc-name">{{association.name}}</h3>
    {% if association.logo != null %}
        <img class="assoc-logo" src="{{ asset('/build/logo_directory/' ~ association.logo) }}" alt="logo de l'association">
    {% else %}
        <img src="{{ asset('/assets/default.PNG') }}" class="assoc-img-first default-image"></img>
    {% endif %}
</div>

<table class="table">
        <tr>
            <th>Utilisateur</th>
            <th>Email</th>
            <th>Supprimer</th>
        </tr>
{% if users is empty %}
    <tr>
        <td>Aucun utilisateur</td>
        <td></td>
        <td></td>
    </tr>
{% else %}
    {% for user in users %}
            <tr onclick="window.location='{{path('admin_user', {'idAssoc': association.id, 'id': user.id } )}}'">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path('remove_user', {'idAssoc': association.id, 'id': user.id, } )}}"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
    {% endfor %} 
{% endif %}

</table>
{{ knp_pagination_render(users) }}

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('fetchData') }}
    {{ encore_entry_script_tags('sort') }}
{% endblock %}