{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<link href="{{ asset('css/assocRegister.css') }}" rel="stylesheet">
<link href="{{ asset('css/contact.css') }}" rel="stylesheet">

 <div class="form-register-container">
    <h1>CONTACTEZ NOUS</h1>
    <div class="form-container">
        {{ form_start(form) }}
        <div class="form-row-two">
            <label>Sujet</label>
            {{ form_widget(form.Sujet) }}
        </div>
        <div class="form-row">
            <label>Message</label>
            {{ form_widget(form.Message) }}
        </div>
        
            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}    
    </div>
</div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    {{ encore_entry_script_tags('false') }}

{% endblock %}