{% extends 'base.html.twig' %}


{% block title %}
    pdf
{% endblock %}

{% block body %}
<link href="{{ asset('css/admin.css') }}" rel="stylesheet">
<link href="{{ asset('css/pdf.css') }}" rel="stylesheet">



<div class="wrapper">
    <div class="header-pdf">
        {# <img src="{{ asset('assets/logo.SVG') }}"/> #}
    </div>
    <table class="table">
        <tr>
            <th>Association</th>
            <th>Date</th>
            <th>Depart</th>
            <th>arrivée</th>
            <th>Km</th>
            <th>Durée</th>
            <th>Frais</th>
            <th>Don</th>
            <th>Remboursement</th>
            <th>Heures Valorisées</th>
            <th>Charges</th>
            <th>Groupe</th>
        </tr>
        <tr>        
            <td>{{action.association.name}}</td>
            <td>{{action.date|date('d/m/Y')}}</td>
            <td>{{action.villeDepart}}</td>
            <td>{{action.villeArrive}}</td>
            <td>{{action.km}}</td>
            <td>{{action.duree}}</td>
            <td>{{action.frais}}</td>
            <td>{{action.dons}}</td>
            <td>{{action.aPayer}}</td>
            <td>{{action.heuresValorisees}}</td>
            <td>{{action.charges}}</td>
            <td>{{action.groupe}}</td>
        </tr>
    </table>
    <div class="accept-container">
        <div class="p-container">
            <p>je soussigné(e), auteur du présent état, certifie l'éxactitude et souhaite pour la somme notifiée</p>
        </div>
        <div class="p-container">
                <input type="checkbox"/>
            <p>Son reglement par chèque ou par virement bancaire (fournir RIB pour le premier Remboursement ou en cas de changement de compte)</p>
        </div>
        <div class="p-container">
            <input type="checkbox"/>
            <p>Renoncer au Remboursement des frais du présent état au profit de l'association en tant que don</p>
        </div>
    </div>
    <div class="sign-container"> 
        <div class="fait-le">
            <p class="p-sign">faît le : </p>

        </div>
        <div class="signature">
            <p class="p-sign">Signature du salarié ou du bénévole : </p>
        </div>
        <div class="president">
            <p class="p-sign">Signature du trésorié ou du président : </p>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    {{ encore_entry_script_tags('pdfJs') }}
{% endblock %}